body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.header {
    background: #1e57a1;
    color: white;
    text-align: center;
    padding: 20px 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.container {
    width: 90%;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th {
    background: #1e57a1;
    color: white;
    padding: 12px;
    font-size: 16px;
}

table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background: #f1f1f1;
}