body {
    margin: 0;
    padding: 0;
    background: #f7f6f4;
    font-family: Arial, sans-serif;
}

.header {
    background: #ff6b6b;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.container {
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.subtitle {
    color: gray;
    font-size: 15px;
}

.donate-card {
    background: #fff;
    padding: 18px;
    margin-top: 15px;
    border-radius: 12px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.donate-card h4 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #444;
}

.donate-card p {
    color: #666;
}

button {
    background: #ff6b6b;
    color: white;
    border: none;
    padding: 10px 18px;
    margin-top: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background: #ff5252;
}
.donate-btn{
    display:inline-block;
    background-color:white; 
    color:white;
    padding:10px 20px;
    border-radius:12px;
    text-decoration:none;
    font-size:16px;
    font-weight:500;
    margin-top:12px;
    transition:0.3s ease;
    text-align:center;
}
.donate-btn:hover{
    background-color:#ff2e63;
}
.bottom-box{
    display:inline-block;
    background-color:#ff4d79; 
    color:white;
    padding:10px 20px;
    border-radius:8px;
    text-decoration:none;
    font-size:16px;
    font-weight:500;
    margin-top:12px;
    transition:0.3s ease;
    text-align:center;

}


.bottom-box h4 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;

}

.bottom-box p {
    margin: 8px 0 15px;
    font-size: 16px;
}


