body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: white;
    padding: 30px;
    width: 330px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.logo {
    width: 70px;
    margin-bottom: 10px;
}

h2 {
    color: #145A23;
    margin: 0;
}

.subtitle {
    color: gray;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 15px;
}

.signin {
    width: 100%;
    padding: 12px;
    background-color: #1E7A34;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.forgot {
    display: block;
    margin: 10px 0;
    color: gray;
    text-decoration: none;
    font-size: 14px;
}

.line {
    margin: 15px 0;
    color: gray;
    font-size: 14px;
}

.social {
    display: flex;
    justify-content: space-between;
}

.google, .facebook {
    width: 48%;
    padding: 10px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

.signup {
    margin-top: 15px;
    font-size: 14px;
}

.signup a {
    color: green;
    text-decoration: none;
}
.password-box {
    position: relative;
    width: 100%;
}

.password-box input {
    width: 90%;
    padding-right: 40px;   /* space for eye icon */
}

.password-box .togglePassword {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}